{% extends  parent_template|default:"optic/base*template_optic.html"%}

       {% block head %}
    <title>reset your password</title>
    {% endblock %}

    {% block body %}

<div class = "container">
<h1 style="font-family: Mon0">Create  New Password Here</h1>

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}

	{{form.as_p}}

	<button class = "btn-large btn btn-primary" type="submit">
		Reset Password
	</button>

</form>
</div>
{% endblock %}
	</body>

</html>
